@model TevenStudiosBudgetTracker.Models.ManagerViewData

<style>
	.item:hover {
		background-color: azure;
	}

	.EmployeeListContainer {
		display: flex;
	}

	.showinfo {
		flex: 1;
		margin-right: 10px;
	}
</style>

@{
    ViewData["Title"] = "Manager Page";
}
<h1>@Model.Manager.Name</h1>

<h2>Employees</h2>

<div class="EmployeeListContainer">
	<div class="showinfo">
		<table class="table">
			<tr>
				<th>
					ID
				</th>
				<th>
					Name
				</th>
				<th>
					Email
				</th>
			</tr>

			@for (int i = 0; i < Model.Employees.Count; i++)
			{
				<tr class="item" onclick="showSelectedUserInfo(@Model.Employees[i].ID)">
					<td>
						@Html.DisplayTextFor(modelItem => Model.Employees[i].ID)
					</td>
					<td>
						@Html.DisplayFor(modelItem => Model.Employees[i].Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => Model.Employees[i].Email)
					</td>
				</tr>
			}
		</table>
	</div>

	<div class="showinfo">
		Employee info
	</div>

	<script>
		function showSelectedUserInfo(UserID) {
            // userId = -1 if the userId was not sent to the modal correctly
            // otherwise makes call to delete user from database
            if (userId != -1) {
                $.ajax({
                    url: '/Home/GetSelectedInfo',
                    data: { UserID: UserId },
                }).done(function () {
                    window.location = "/Home/Manager";
                });
            } else {
                alert("Sorry, there was an error processing your request. Please try again.");
            }
		}
	</script>

</div>

