@model TevenStudiosBudgetTracker.Models.ManagerViewData

<style>
	.item:hover {
		background-color: azure;
	}

	.EmployeeListContainer {
		display: flex;
	}

	.showinfo {
		flex: 1;
		margin-right: 10px;
	}
</style>

@{
    ViewData["Title"] = "Manager Page";
}
<h1>@Model.Manager.Name</h1>

<h2>Employees</h2>

<div class="EmployeeListContainer">
	<div class="showinfo">
		<table class="table">
			<tr>
				<th>
					ID
				</th>
				<th>
					Name
				</th>
				<th>
					Email
				</th>
			</tr>

			@for (int i = 0; i < Model.Employees.Count; i++)
			{
				<tr class="item" onclick="showSelectedUserInfo(@Model.Employees[i].ID)">
					<td>
						@Html.DisplayTextFor(modelItem => Model.Employees[i].ID)
					</td>
					<td>
						@Html.DisplayFor(modelItem => Model.Employees[i].Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => Model.Employees[i].Email)
					</td>
				</tr>
			}
		</table>
	</div>

	<div class="showinfo">
        <div>
            <h1 id="employee_info_name"></h1>
        </div>
        <div>
            <h1 id="employee_current_balance"></h1>
        </div>
        <div id="employee_current_balance">
            <h2>Pending Requests </h2>
            <table id="pending_request_table" class="table table-hover table-bordered" >
                <thead>
                <tr>
                    <th data-field="Date" >
                        Date
                    </th>
                    <th data-field="Cost">
                        Cost
                    </th>
                    <th data-field="Description">
                        Description
                    </th>
                </tr>
                    </thead>
            </table>
        </div>
        <div id="employee_past_requests">
            <h2>Past Requests </h2>
            <table id="past_request_table" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th data-field="Date">
                            Date
                        </th>
                        <th data-field="Cost">
                            Cost
                        </th>
                        <th data-field="Description">
                            Description
                        </th>
                    </tr>
                    </thead>
            </table>
        </div> 
		
	</div>

	<script>
        function showSelectedUserInfo(UserID) {
            // userId = -1 if the userId was not sent to the modal correctly
            // otherwise makes call to get user info from database
            if (UserID != -1) {
                $.ajax({
                    url: '/Home/GetSelectedInfo',
                    data: { UserID: UserID },
                }).done(function (returnData) {
                    
                    $("#employee_info_name").text(returnData["selectedEmployee"]['name']);
                    $("#employee_current_balance").text(returnData["currentBudget"]);

                    // Pending request table population 
                    $("#pending_request_table tbody tr").remove()
                    var html = '<tbody>';

                    for (item in returnData["pendingRequests"]) {
                        html += '<tr><td>'
                            + returnData["pendingRequests"][item].date
                            + '</td><td class="">'
                            + returnData["pendingRequests"][item].cost
                            + '</td><td class="">'
                            + returnData["pendingRequests"][item].description
                            + '</td></tr>';
                    }
                    html += "</tbody>"
                    $('#pending_request_table').append(html);

                    // Past request table population 
                    $("#past_request_table tbody tr").remove()
                    var html = '<tbody>';

                    console.log(returnData["pastRequests"]); 

                    for (item in returnData["pastRequests"]) {
                        html += '<tr><td>'
                            + returnData["pastRequests"][item].date
                            + '</td><td class="">'
                            + returnData["pastRequests"][item].amount
                            + '</td><td class="">'
                            + returnData["pastRequests"][item].description
                            + '</td></tr>';
                    }
                    html += "</tbody>"
                    $('#past_request_table').append(html);

                });
            } else {
                alert("Sorry, there was an error processing your request. Please try again.");
            }
		}
	</script>

</div>

